<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>

<body>
  <div class="center">
    <p class="title"> Lung Sound Classifier </p>
    <input
      class="no-display"
      type="file" 
      id="input-image"
      name="input-image"
      accept="image/*"
      onchange="loadImage(event)"
      style="display: none;"
    >
    <p>
      <label 
        for="input-image" 
        class="upload-label"
        style="cursor: pointer; border-radius: 6px; border-style: solid;font-size: 15px; padding: 7"
      >
          Upload Audio 
      </label>
    </p>

    <audio class="no-display" height="200" controls id="image-picked"></audio> 

    <p id="upload-label"> </p>

    <button 
      class="no-display" 
      id="analyze-button" 
      type="button"
      onclick="analyze()"
    > 
      Analyze 
    </button>

    <p id="result-label">  </p>


  </div>
</body>
</html>
