aiofiles
aiohttp
asyncio
uvicorn
python-multipart
torch
torchvision
matplotlib
pandas
requests
pyyaml
fastprogress
pillow
# python
pip
scikit-learn
scipy
spacy
starlette
fastai
SoundFile
torchaudio
gdown
librosa
